:root {
  --color1: #e9ecff;
  --color2: #000000;
  --color3: #f5a041;
  --mw: 1400px
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Top CSS */

.HeaderTop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  padding: 5px 0;
  position: relative;
  gap: 0.5rem;
}

.HeaderTop p {
  font-size: 14px;
  font-weight: 500;
  color: #050038;
}

.HeaderTop a {
  font-size: 14px;
  /* font-weight: 500; */
  color: #fff;
  background-color: #3f53d9;
  text-decoration: none;
  padding: 4px 6px;
  border-radius: 5px;
}

.HeaderTop button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  aspect-ratio: 1;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* Header Mid CSS */

.HeaderMid {
  /* width: var(--mw);*/
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c5c3e5;
  padding: 1rem 0;
}

.HeaderMidLeft{
  display: flex;
  gap: 1.5rem;
}

.HeaderMidLeft a{
  display: flex;
  align-items: center;
  color: #c5c3e5;
  font-size: 12px;
  text-decoration: none;
  gap: 0.5rem;
}

.HeaderMidLeft ion-icon {
  color: var(--color3);
  font-size: 1rem;
}

.HeaderMidRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.HeaderMidRight p{
  font-size: 12px;
}

.HeaderMidRight .socials {
  display: flex;
  gap: 1rem;;
  font-size: 1.2rem;
  align-items: center;
}

/* Header Low CSS */

.HeaderLow {
  /* width: var(--mw); */
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.Logo {
  width: 140px;
}

.NavLinkArea {
  /* color: #fff; */
  display: flex;
  gap: 1.5rem;
}

.NavLinkArea .Navlinks {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1.5rem;
}

.Navlink {
  color: #fff;
}


.LinkTitle {
  display: flex;
  font-size: 14px;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.ExtraLinksArea{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.Extralink {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.Extralink ion-icon {
  color: white;
  cursor: pointer;
}

.LoginDialogBox{
  width: 350px;
  position: absolute;
  background-color: #fff;
  top: 100px;
  right: 90%;
  border-radius: 0.5rem;
}

.LoginButtonContainer {
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
}

.LoginButtonContainer button {
  font-size: 16px;
  font-weight: 600;
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  border: none;
  background-color: #3f53d9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.RegisterButtonContainer {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RegisterButtonContainer h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}

.RegisterButtonContainer ul {
  font-size: 1rem;
  list-style-type: none;
  margin: 0.5rem 0;
}

.RegisterButtonContainer ul li {
  display: flex;
  align-items: center;
}

.RegisterButtonContainer ul ion-icon {
  color: rgb(19, 209, 19);
  font-size: 1.5rem;
}

.Registerbtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Registerbtn button {
  font-size: 16px;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 2px solid #3f53d9;
  background-color: transparent;
  color: #3f53d9;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.MobileLinks {
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  list-style-type: none;
  gap: 1.5rem;
}

.MobileLinks li {
  display: flex;
  align-items: center;
  justify-self: center;
}

.MobileLinks li ion-icon {
  font-size: 2rem;
  cursor: pointer;
}

/* Media Querries */

@media (max-width: 1000px) {
  .HeaderTop {
    display: none;
  }

  .HeaderMid {
    display: none;
  }

  .NavLinkArea {
    display: none;
  }

  .MobileLinks {
    display: flex;
  }
}


